<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Project Portfolio</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/">All Projects</a>
        <a class="mdl-navigation__link" href="/claire">Claire</a>
        <a class="mdl-navigation__link" href="/Luke">Luke</a>
        <a class="mdl-navigation__link" href="/lisa">Lisa</a>
        <a class="mdl-navigation__link" href="/risks">Risks</a>
        <a class="mdl-navigation__link" href="/Completed">Completed</a>
        <a class="mdl-navigation__link" href="/dashboard">Dashboard</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Project Portfolio</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">All Projects</a>
      <a class="mdl-navigation__link" href="/claire">Claire</a>
      <a class="mdl-navigation__link" href="/Luke">Luke</a>
      <a class="mdl-navigation__link" href="/lisa">Lisa</a>
      <a class="mdl-navigation__link" href="/risks">Risks</a>
      <a class="mdl-navigation__link" href="/completed">Completed</a>
      <a class="mdl-navigation__link" href="/dashboard">Dashboard</a>

    </nav>
  </div>
