
   <div class="demo-card-square mdl-card mdl-shadow--2dp" id="">



    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="addriskprojectbutton" onclick="showFormRisk()">
  <i class="material-icons">add</i>
</button>


				<form action="/riskform" method="POST" id="hiddenform">
  <div class="form-group">
    <label for="">Risk ID</label>
    
    <input class="form-control" type="text" id="sample3" name="RiskID">
    
  </div>
  <div class="form-group">
    <label for="">Raised By</label>
    
    <input class="form-control" type="text" id="sample3" name="RaisedBy">

    
  </div>
  <div class="form-group">
    <label for="">Risk Status</label>
    
    <input class="form-control" type="text" id="sample3" name="Status">
    
  </div>
  <div class="form-group">
    <label for="">Risk Title</label>
    
    <input class="form-control" type="text" id="sample3" name="RiskTitle">
    
  </div>
  <div class="form-group">
    <label for="">Risk Description</label>
    
    <input class="form-control" type="text" id="sample3" name="RiskDescription">
    
  </div>
  <div class="form-group">
    <label for="">Impact Description</label>
    
    <input class="form-control" type="text" id="sample3" name="ImpactDescription">
    
  </div>
  <div class="form-group">
    <label for="">Mitigating action</label>
    
    <input class="form-control" type="text" id="sample3" name="Mitigatingaction">
    
  </div>
   <div class="form-group">
    <label for="">Likelyhood</label>
    
    <input class="form-control" type="text" id="sample3" name="Likelyhood">
    
  </div>
   <div class="form-group">
    <label for="">Impact</label>
    
    <input class="form-control" type="text" id="sample3" name="Impact">
    
  </div>
   <div class="form-group">
    <label for="">Risk Rating</label>
    
    <input class="form-control" type="text" id="sample3" name="RiskRating">
    
  </div>
   <div class="form-group">
    <label for="">Owner</label>
    
    <input class="form-control" type="text" id="sample3" name="Owner">
    
  </div>

 
  
  
  <div class="form-group">
    <label for="exampleTextarea">Notes</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
 
 
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>