 <div class="demo-card-square mdl-card mdl-shadow--2dp" id="">
<form action="/riskform" method="POST">
    

    <!--///////PROJECT NAME FIELD//////-->
    <!--<input type="text" placeholder="Project Name" name="Name">-->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3" name="RiskID">
    <label class="mdl-textfield__label" for="sample3">Risk ID</label>
  </div><br />
   <!-- <input type="text" placeholder="Project ID" name="ProjectId">-->

   <!--////////Project MANAGER Field//////-->
   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3" name="RaisedBy">
    <label class="mdl-textfield__label" for="sample3">Raised By</label>
  </div><br />


    <!--<input type="text" placeholder="Project Manager" name="Manager">-->

    <!--<input type="text" placeholder="Sponsor/ Business Owner" name="Owner">-->

    <!--////////Business Owner Field//////-->
   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3" name="Status">
    <label class="mdl-textfield__label" for="sample3">Status</label>
  </div><br />

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3" name="RiskTitle">
    <label class="mdl-textfield__label" for="sample3">Risk Title</label>
  </div><br />

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3" name="RiskDescription">
    <label class="mdl-textfield__label" for="sample3">Risk Description</label>
  </div><br />

   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3" name="ImpactDescription">
    <label class="mdl-textfield__label" for="sample3">Impact Description</label>
  </div><br />

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3" name="Mitigatingaction">
    <label class="mdl-textfield__label" for="sample3">Mitigating Action</label>
  </div><br />

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3" name="Likelyhood">
    <label class="mdl-textfield__label" for="sample3">Likely hood</label>
  </div><br />

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3" name="Impact">
    <label class="mdl-textfield__label" for="sample3">Impact</label>
  </div><br />

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3" name="RiskRating">
    <label class="mdl-textfield__label" for="sample3">Risk Rating</label>
  </div><br />

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3" name="Owner">
    <label class="mdl-textfield__label" for="sample3">Owner</label>
  </div><br />

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3" name="Notes">
    <label class="mdl-textfield__label" for="sample3">Notes</label>
  </div><br />



   

    <button type="submit">Submit</button>
  </form>
</div>







  